.table-view{
   -fx-background-color: black;
}

.table-view:focused{
    -fx-background-color: black;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: orange;
    -fx-font: 24px "! PEPSI !";
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: orange;
    -fx-alignment: center;
    -fx-font: 18px "! PEPSI !";
}

.table-row-cell{
    -fx-background-color: #616161;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}